main{
  display: flex;
  margin: 2vh;
}

#profile{
  margin: 20px;
  width: 30%;
}

#hero-data{
  width: 70%;
  height: 90vh;
  overflow-y: scroll;
}

#profile img{
  width: 100%;
}

#profile h4{
  background-color: #E62429;
  color: white;
  height: 5vh;
  text-align: center;
}

#comics, #series, #stories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#item-name{
  width: 30%;
  margin: 10px;
}

#item-name img{
  width: 70%;
}

#item-name div{
  font-weight: bold;
}

#stories div{
  display: flex;
  background-color: #E62429;
  color: white;
  height: 7vh;
  align-items: center;
  justify-content: center;
  padding: 10px;
}