nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: #151515;
  color: white;
  margin-bottom: 15px;
  padding: 2vh;
}

nav a{
  color: white;
  text-decoration: none;
  padding: 1vh;
}

nav a:hover{
  color: #E62429;
}

form input{
  width: 18vw;
  height: 4vh;
  padding: 5px;
}

form button{
  background-color: #E62429;
  color: white;
  border: none;
  height: 4vh;
  width: 6vw;
}